@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    font-family: "Roboto";
}

body, html {
  height: 98%;
}

html {
  background-color: #251353;
}

 .MainContent, .SideBar {
  margin: 0 auto;
  margin-top: 2%;
}

.MainContent {
  float: left;
  height: 98%;
  width: 85%;
  margin-left: 8%;
  margin-right: 8%;
  background-color: #F2F2F2;
  color: #333;
  overflow: auto;
}

.SideBar {
  float: right;
  height: 100%;
  width: 25%;
  right: 0;
  margin-top: 0;
  margin-right: 0;
  background-color: #222423;
  color: #ffcf24;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.parallaxImg {
  background-image: url(https://www.etfstream.com/media/23169/solar-energy-5622969_1920.webp);
  height: 30%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  width: 75%;
  text-align: justify;
  margin-top: 20px;
}

h1, h2, h3 {
  margin: 10px;
}

p {
  margin: 10px 10% 10px 10%;
}

h3 {
  text-decoration: underline;
}

nav a {
  padding: 0;
  display: block;
  font-size: 1em;
  text-decoration: none;
  padding-left: 50px;
  margin: 20px 0px;
  height: 45px;
  line-height: 45px;
}

nav .sideMenu {
  color: #ebb41c;
}

nav .subMenu {
  color: #00B1D2;
}

li {
  list-style-type: none;
  font-size: 0.95em;
  font-style: italic;
  padding: 0;
}

.sideMenu, .subMenu {
  background: linear-gradient(to left,   #222423 50%, #434241 50%) right;
  background-size: 200%;
  transition: .3s ease-out;
}

.sideMenu:hover {
    background-position: left;
}

.subMenu:hover {
  background-position: left;
}

/* Form Page */

form {
  width: 80%;
  background-color: #222423;
  border-radius: 5px;
  opacity:  0.9;
}

label, input, select, textarea {
  margin-top: 7px;
  margin-bottom: 7px;
}

label {
  color: #ffcf24;
  margin-left: 12%;
}

#informativo {
  margin-left: 40px;
  margin-right: 40px;
}

#faleComigo {
  width: 45%;
  margin: 20px 10% 20px 26%;
}

#faixa {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #D4AF37;
  padding: 1px;
  text-align: center;
  font-weight: bold;
}

#nome, #email, #textArea{
  width: 75%;
  margin-left: 12%;
}

#contato {
  width: 76%;
  margin-left: 12%;
}

#nome, #email, #contato, #textArea {
  border: none;
  outline: none;
  border-radius: 3px;
}

#nome, #email, #contato {
  height: 30px;
}

fieldset {
  border-radius: 5px;
  border: 1px solid;
}

#submit {
  margin-left: 12%;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #00B1D2;
  box-shadow: 0 1px #7a7a7a;
  border: none;
  outline: none;
}

#submit:hover {
  background-color: #00a1bf;
}

#submit:active {
  background-color: #00a1bf;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}
